* text=auto !eol
/README -text
/Rakefile -text
example/example_helper.rb -text
example/raw_bindings.rb -text
ext/extconf.rb -text
ext/missing.cpp -text
ext/missing.h -text
ext/vararray.cpp -text
ext/vararray.h -text
lib/bindings/bindings.rb -text
lib/gecoder.rb -text
lib/interface/binding_changes.rb -text
lib/interface/model.rb -text
lib/interface/search.rb -text
specs/model.rb -text
specs/search.rb -text
specs/space.rb -text
specs/spec_helper.rb -text
tasks/all_tasks.rb -text
tasks/distribution.rake -text
vendor/rust/README -text
vendor/rust/bin/cxxgenerator.rb -text
vendor/rust/include/rust_checks.hh -text
vendor/rust/include/rust_conversions.hh -text
vendor/rust/rust.rb -text
vendor/rust/rust/attribute.rb -text
vendor/rust/rust/bindings.rb -text
vendor/rust/rust/class.rb -text
vendor/rust/rust/constants.rb -text
vendor/rust/rust/container.rb -text
vendor/rust/rust/cppifaceparser.rb -text
vendor/rust/rust/cwrapper.rb -text
vendor/rust/rust/cxxclass.rb -text
vendor/rust/rust/element.rb -text
vendor/rust/rust/enum.rb -text
vendor/rust/rust/function.rb -text
vendor/rust/rust/namespace.rb -text
vendor/rust/rust/templates/AttributeDefinition.rusttpl -text
vendor/rust/rust/templates/AttributeInitBinding.rusttpl -text
vendor/rust/rust/templates/BindingsHeader.rusttpl -text
vendor/rust/rust/templates/BindingsUnit.rusttpl -text
vendor/rust/rust/templates/CWrapperClassDefinitions.rusttpl -text
vendor/rust/rust/templates/ClassDeclarations.rusttpl -text
vendor/rust/rust/templates/ClassInitialize.rusttpl -text
vendor/rust/rust/templates/ConstructorStub.rusttpl -text
vendor/rust/rust/templates/CxxClassDefinitions.rusttpl -text
vendor/rust/rust/templates/CxxMethodStub.rusttpl -text
vendor/rust/rust/templates/CxxStandaloneClassDefinitions.rusttpl -text
vendor/rust/rust/templates/EnumDeclarations.rusttpl -text
vendor/rust/rust/templates/EnumDefinitions.rusttpl -text
vendor/rust/rust/templates/FunctionDefinition.rusttpl -text
vendor/rust/rust/templates/FunctionInitAlias.rusttpl -text
vendor/rust/rust/templates/FunctionInitBinding.rusttpl -text
vendor/rust/rust/templates/MethodInitBinding.rusttpl -text
vendor/rust/rust/templates/ModuleDeclarations.rusttpl -text
vendor/rust/rust/templates/ModuleDefinitions.rusttpl -text
vendor/rust/rust/templates/StandaloneClassDeclarations.rusttpl -text
vendor/rust/rust/templates/VariableFunctionCall.rusttpl -text
vendor/rust/rust/type.rb -text
vendor/rust/test/Makefile -text
vendor/rust/test/constants.rb -text
vendor/rust/test/cppclass.cc -text
vendor/rust/test/cppclass.hh -text
vendor/rust/test/cppclass.rb -text
vendor/rust/test/cwrapper.c -text
vendor/rust/test/cwrapper.h -text
vendor/rust/test/cwrapper.rb -text
vendor/rust/test/dummyclass.hh -text
vendor/rust/test/lib/extension-test.rb -text
vendor/rust/test/test-constants.rb -text
vendor/rust/test/test-cppclass.rb -text
vendor/rust/test/test-cwrapper.rb -text
