/*.log
/*.swp
bin/*.swp
doc/*.swp
doc/output
doc/plugin/*.swp
doc/plugin/contentconverters/*.swp
doc/plugin/menustyles/*.swp
doc/plugin/tags/*.swp
doc/src/*.swp
doc/src/details/*.swp
doc/src/documentation/*.swp
doc/src/documentation/constraints/*.swp
doc/src/documentation/modelling/*.swp
doc/src/examples/*.swp
doc/src/images/*.swp
example/*.swp
ext/*.swp
ext/Makefile
ext/gecode-2.1.1/*.swp
ext/gecode-2.1.1/contribs/*.swp
ext/gecode-2.1.1/contribs/qecode/*.swp
ext/gecode-2.1.1/contribs/qecode/examples/*.swp
ext/gecode-2.1.1/doxygen/*.swp
ext/gecode-2.1.1/gecode/*.swp
ext/gecode-2.1.1/gecode/cpltset/*.swp
ext/gecode-2.1.1/gecode/cpltset/branch/*.swp
ext/gecode-2.1.1/gecode/cpltset/constraints/*.swp
ext/gecode-2.1.1/gecode/cpltset/propagators/*.swp
ext/gecode-2.1.1/gecode/cpltset/var-imp/*.swp
ext/gecode-2.1.1/gecode/cpltset/var/*.swp
ext/gecode-2.1.1/gecode/cpltset/view/*.swp
ext/gecode-2.1.1/gecode/gist/*.swp
ext/gecode-2.1.1/gecode/gist/visualisation/*.swp
ext/gecode-2.1.1/gecode/int/*.swp
ext/gecode-2.1.1/gecode/int/arithmetic/*.swp
ext/gecode-2.1.1/gecode/int/bool/*.swp
ext/gecode-2.1.1/gecode/int/branch/*.swp
ext/gecode-2.1.1/gecode/int/channel/*.swp
ext/gecode-2.1.1/gecode/int/circuit/*.swp
ext/gecode-2.1.1/gecode/int/count/*.swp
ext/gecode-2.1.1/gecode/int/cumulatives/*.swp
ext/gecode-2.1.1/gecode/int/distinct/*.swp
ext/gecode-2.1.1/gecode/int/dom/*.swp
ext/gecode-2.1.1/gecode/int/element/*.swp
ext/gecode-2.1.1/gecode/int/extensional/*.swp
ext/gecode-2.1.1/gecode/int/gcc/*.swp
ext/gecode-2.1.1/gecode/int/linear/*.swp
ext/gecode-2.1.1/gecode/int/rel/*.swp
ext/gecode-2.1.1/gecode/int/sorted/*.swp
ext/gecode-2.1.1/gecode/int/var-imp/*.swp
ext/gecode-2.1.1/gecode/int/var/*.swp
ext/gecode-2.1.1/gecode/int/view/*.swp
ext/gecode-2.1.1/gecode/iter/*.swp
ext/gecode-2.1.1/gecode/kernel/*.swp
ext/gecode-2.1.1/gecode/minimodel/*.swp
ext/gecode-2.1.1/gecode/search/*.swp
ext/gecode-2.1.1/gecode/serialization/*.swp
ext/gecode-2.1.1/gecode/set/*.swp
ext/gecode-2.1.1/gecode/set/branch/*.swp
ext/gecode-2.1.1/gecode/set/convex/*.swp
ext/gecode-2.1.1/gecode/set/distinct/*.swp
ext/gecode-2.1.1/gecode/set/int/*.swp
ext/gecode-2.1.1/gecode/set/projectors/*.swp
ext/gecode-2.1.1/gecode/set/projectors/propagator/*.swp
ext/gecode-2.1.1/gecode/set/rel-op/*.swp
ext/gecode-2.1.1/gecode/set/rel/*.swp
ext/gecode-2.1.1/gecode/set/select/*.swp
ext/gecode-2.1.1/gecode/set/sequence/*.swp
ext/gecode-2.1.1/gecode/set/var-imp/*.swp
ext/gecode-2.1.1/gecode/set/var/*.swp
ext/gecode-2.1.1/gecode/set/view/*.swp
ext/gecode-2.1.1/gecode/support/*.swp
ext/gecode-2.1.1/gecode/support/buddy/*.swp
ext/gecode-2.1.1/misc/*.swp
ext/gecode-2.1.1/misc/debian/*.swp
ext/gecode-2.1.1/misc/doxygen/*.swp
ext/gecode.cc
ext/gecode.hh
ext/mkmf.log
ext/win32/*.swp
lib/*.so
lib/*.swp
lib/gecoder/*.swp
lib/gecoder/bindings/*.swp
lib/gecoder/interface/*.swp
lib/gecoder/interface/constraints/*.swp
lib/gecoder/interface/constraints/bool/*.swp
lib/gecoder/interface/constraints/bool_enum/*.swp
lib/gecoder/interface/constraints/int/*.swp
lib/gecoder/interface/constraints/int_enum/*.swp
lib/gecoder/interface/constraints/set/*.swp
lib/gecoder/interface/constraints/set_enum/*.swp
/pkg
/scripts
specs/*.swp
specs/constraints/*.swp
tasks/*.swp
vendor/*.swp
vendor/gecode/*.swp
vendor/gecode/win32/*.swp
vendor/gecode/win32/include/*.swp
vendor/gecode/win32/include/gecode/*.swp
vendor/gecode/win32/include/gecode/cpltset/*.swp
vendor/gecode/win32/include/gecode/cpltset/branch/*.swp
vendor/gecode/win32/include/gecode/cpltset/propagators/*.swp
vendor/gecode/win32/include/gecode/cpltset/var-imp/*.swp
vendor/gecode/win32/include/gecode/cpltset/var/*.swp
vendor/gecode/win32/include/gecode/cpltset/view/*.swp
vendor/gecode/win32/include/gecode/gist/*.swp
vendor/gecode/win32/include/gecode/gist/visualisation/*.swp
vendor/gecode/win32/include/gecode/int/*.swp
vendor/gecode/win32/include/gecode/int/arithmetic/*.swp
vendor/gecode/win32/include/gecode/int/bool/*.swp
vendor/gecode/win32/include/gecode/int/branch/*.swp
vendor/gecode/win32/include/gecode/int/channel/*.swp
vendor/gecode/win32/include/gecode/int/circuit/*.swp
vendor/gecode/win32/include/gecode/int/count/*.swp
vendor/gecode/win32/include/gecode/int/cumulatives/*.swp
vendor/gecode/win32/include/gecode/int/distinct/*.swp
vendor/gecode/win32/include/gecode/int/dom/*.swp
vendor/gecode/win32/include/gecode/int/element/*.swp
vendor/gecode/win32/include/gecode/int/extensional/*.swp
vendor/gecode/win32/include/gecode/int/gcc/*.swp
vendor/gecode/win32/include/gecode/int/linear/*.swp
vendor/gecode/win32/include/gecode/int/rel/*.swp
vendor/gecode/win32/include/gecode/int/sorted/*.swp
vendor/gecode/win32/include/gecode/int/var-imp/*.swp
vendor/gecode/win32/include/gecode/int/var/*.swp
vendor/gecode/win32/include/gecode/int/view/*.swp
vendor/gecode/win32/include/gecode/iter/*.swp
vendor/gecode/win32/include/gecode/kernel/*.swp
vendor/gecode/win32/include/gecode/minimodel/*.swp
vendor/gecode/win32/include/gecode/search/*.swp
vendor/gecode/win32/include/gecode/serialization/*.swp
vendor/gecode/win32/include/gecode/set/*.swp
vendor/gecode/win32/include/gecode/set/branch/*.swp
vendor/gecode/win32/include/gecode/set/convex/*.swp
vendor/gecode/win32/include/gecode/set/distinct/*.swp
vendor/gecode/win32/include/gecode/set/int/*.swp
vendor/gecode/win32/include/gecode/set/projectors/*.swp
vendor/gecode/win32/include/gecode/set/projectors/propagator/*.swp
vendor/gecode/win32/include/gecode/set/rel-op/*.swp
vendor/gecode/win32/include/gecode/set/rel/*.swp
vendor/gecode/win32/include/gecode/set/select/*.swp
vendor/gecode/win32/include/gecode/set/sequence/*.swp
vendor/gecode/win32/include/gecode/set/var-imp/*.swp
vendor/gecode/win32/include/gecode/set/var/*.swp
vendor/gecode/win32/include/gecode/set/view/*.swp
vendor/gecode/win32/include/gecode/support/*.swp
vendor/gecode/win32/include/gecode/support/buddy/*.swp
vendor/gecode/win32/lib/*.swp
vendor/rust/*.swp
vendor/rust/bin/*.swp
vendor/rust/include/*.swp
vendor/rust/rust/*.swp
vendor/rust/rust/templates/*.swp
vendor/rust/test/*.swp
vendor/rust/test/lib/*.swp
