* text=auto !eol
/CHANGES -text
/COPYING -text
/LGPL-LICENSE -text
/README -text
/Rakefile -text
doc/config.yaml -text
doc/metainfo.yaml -text
doc/plugin/googlesitemap.rb -text
doc/plugin/rspec_content.rb -text
doc/plugin/syntax.rb -text
doc/src/default.css -text
doc/src/default.template -text
doc/src/documentation/constraints.page -text
doc/src/documentation/index.page -text
doc/src/documentation/modelling.page -text
doc/src/examples.page -text
doc/src/index.page -text
doc/src/installation.page -text
doc/src/map.sitemap -text
example/example_helper.rb -text
example/queens.rb -text
example/raw_bindings.rb -text
example/send_more_money.rb -text
example/sudoku.rb -text
ext/extconf.rb -text
ext/missing.cpp -text
ext/missing.h -text
ext/vararray.cpp -text
ext/vararray.h -text
lib/gecoder.rb -text
lib/gecoder/bindings.rb -text
lib/gecoder/bindings/bindings.rb -text
lib/gecoder/interface.rb -text
lib/gecoder/interface/binding_changes.rb -text
lib/gecoder/interface/branch.rb -text
lib/gecoder/interface/constraints.rb -text
lib/gecoder/interface/constraints/bool/boolean.rb -text
lib/gecoder/interface/constraints/bool_var_constraints.rb -text
lib/gecoder/interface/constraints/int/domain.rb -text
lib/gecoder/interface/constraints/int/linear.rb -text
lib/gecoder/interface/constraints/int_enum/channel.rb -text
lib/gecoder/interface/constraints/int_enum/count.rb -text
lib/gecoder/interface/constraints/int_enum/distinct.rb -text
lib/gecoder/interface/constraints/int_enum/element.rb -text
lib/gecoder/interface/constraints/int_enum/equality.rb -text
lib/gecoder/interface/constraints/int_enum_constraints.rb -text
lib/gecoder/interface/constraints/int_var_constraints.rb -text
lib/gecoder/interface/constraints/reifiable_constraints.rb -text
lib/gecoder/interface/enum_matrix.rb -text
lib/gecoder/interface/enum_wrapper.rb -text
lib/gecoder/interface/model.rb -text
lib/gecoder/interface/search.rb -text
lib/gecoder/interface/variables.rb -text
specs/binding_changes.rb -text
specs/bool_var.rb -text
specs/branch.rb -text
specs/constraints/boolean.rb -text
specs/constraints/channel.rb -text
specs/constraints/constraint_helper.rb -text
specs/constraints/constraints.rb -text
specs/constraints/count.rb -text
specs/constraints/distinct.rb -text
specs/constraints/domain.rb -text
specs/constraints/element.rb -text
specs/constraints/equality.rb -text
specs/constraints/linear.rb -text
specs/constraints/reification_sugar.rb -text
specs/constraints/relation.rb -text
specs/enum_matrix.rb -text
specs/enum_wrapper.rb -text
specs/int_var.rb -text
specs/model.rb -text
specs/search.rb -text
specs/spec_helper.rb -text
tasks/all_tasks.rb -text
tasks/distribution.rake -text
tasks/rcov.rake -text
tasks/specs.rake -text
tasks/website.rake -text
vendor/rust/README -text
vendor/rust/bin/cxxgenerator.rb -text
vendor/rust/include/rust_checks.hh -text
vendor/rust/include/rust_conversions.hh -text
vendor/rust/rust.rb -text
vendor/rust/rust/attribute.rb -text
vendor/rust/rust/bindings.rb -text
vendor/rust/rust/class.rb -text
vendor/rust/rust/constants.rb -text
vendor/rust/rust/container.rb -text
vendor/rust/rust/cppifaceparser.rb -text
vendor/rust/rust/cwrapper.rb -text
vendor/rust/rust/cxxclass.rb -text
vendor/rust/rust/element.rb -text
vendor/rust/rust/enum.rb -text
vendor/rust/rust/function.rb -text
vendor/rust/rust/namespace.rb -text
vendor/rust/rust/templates/AttributeDefinition.rusttpl -text
vendor/rust/rust/templates/AttributeInitBinding.rusttpl -text
vendor/rust/rust/templates/BindingsHeader.rusttpl -text
vendor/rust/rust/templates/BindingsUnit.rusttpl -text
vendor/rust/rust/templates/CWrapperClassDefinitions.rusttpl -text
vendor/rust/rust/templates/ClassDeclarations.rusttpl -text
vendor/rust/rust/templates/ClassInitialize.rusttpl -text
vendor/rust/rust/templates/ConstructorStub.rusttpl -text
vendor/rust/rust/templates/CxxClassDefinitions.rusttpl -text
vendor/rust/rust/templates/CxxMethodStub.rusttpl -text
vendor/rust/rust/templates/CxxStandaloneClassDefinitions.rusttpl -text
vendor/rust/rust/templates/EnumDeclarations.rusttpl -text
vendor/rust/rust/templates/EnumDefinitions.rusttpl -text
vendor/rust/rust/templates/FunctionDefinition.rusttpl -text
vendor/rust/rust/templates/FunctionInitAlias.rusttpl -text
vendor/rust/rust/templates/FunctionInitBinding.rusttpl -text
vendor/rust/rust/templates/MethodInitBinding.rusttpl -text
vendor/rust/rust/templates/ModuleDeclarations.rusttpl -text
vendor/rust/rust/templates/ModuleDefinitions.rusttpl -text
vendor/rust/rust/templates/StandaloneClassDeclarations.rusttpl -text
vendor/rust/rust/templates/VariableFunctionCall.rusttpl -text
vendor/rust/rust/type.rb -text
vendor/rust/test/Makefile -text
vendor/rust/test/constants.rb -text
vendor/rust/test/cppclass.cc -text
vendor/rust/test/cppclass.hh -text
vendor/rust/test/cppclass.rb -text
vendor/rust/test/cwrapper.c -text
vendor/rust/test/cwrapper.h -text
vendor/rust/test/cwrapper.rb -text
vendor/rust/test/dummyclass.hh -text
vendor/rust/test/lib/extension-test.rb -text
vendor/rust/test/test-constants.rb -text
vendor/rust/test/test-cppclass.rb -text
vendor/rust/test/test-cwrapper.rb -text
