<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{lang:}">
<head>
  <title>Gecode/R: {title: }</title>
  <link rel="stylesheet" type="text/css" href="{relocatable: default.css}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{resource: webgen-css}" media="screen" />
  <meta name="description" content="{description:}" />
</head>
<body>
  <h1>Gecode/R</h1>
  <div id="contents">
    <div id="body">
      {block:}
    </div>
		{menu: {menuStyle: horizontal,  options: {divClass: "menu horizontal", selectedMenuitemClass: "selected"}}}
  </div>
</body>
</html>